.card {
	width: 150px;
	height: 150px;
	position: relative;
	transition: all ease-in 0.2s;
}

.card img {
	display: block;
	border: 2px solid #fff;
	border-radius: 6px;
	height: 100%;
	width: 100%;
}

.flipped {
	transition-delay: 0s;
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: all ease-in 0.2s;
}

.front {
	background-color: rgb(66, 62, 69);
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.back {
	background-color: rgb(66, 62, 69);
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.cursorPointer {
	cursor: pointer;
}
