.card {
	width: 200px;
	height: 277px;
	border-radius: 10px;
}

.cardFront {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: yellow;
}

.cardFrontContent {
	width: 180px;
	height: 255px;
	background-color: blueviolet;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cardBack img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.pokemonPhoto {
	height: 90%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemonPhoto img {
	width: 100%;
	height: 100%;
}

.pokemonData {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: aqua;
}
