.app {
	background-color: aquamarine;
	height: 100vh;
	width: 100vw;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 10%;
	margin-left: 10rem;
}

.header a {
	text-decoration: none;
	color: black;

	font-size: 2rem;
	font-weight: 600;
}

.header a:hover {
	color: rgb(65, 62, 62);
}

.body {
	height: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	justify-items: center;
	align-items: center;
}
